.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .nav-left{
    display: flex;
    gap: 30px;
  }
  .main-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px;
  }
  .main table {
    width: 100%;
    border-collapse: collapse;
  }
  .main table th, .main table td {
    border: 1px solid rgb(146, 146, 146);
    padding: 8px;
    text-align: left;
    box-sizing: border-box;
  }
  .add-employee-form {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    margin-top: 100px ;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s forwards;
    z-index: 1000;
  }
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translate(-50%, -100%);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  label.error{
    color: red;
  }
